<%= form_title(@user).html_safe %>

<%= form_for(@user)  do |f| %>
  <%= errors_for(@user).html_safe %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :user_type %><br />
    <%= f.select 'user_type_id', options_for_select(UserType.all.collect {|s| [ s.name, s.id ] }, @user.usertype_id) %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
