<%= form_title(@account,true).html_safe %>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>Description:</b>
  <%= @account.description %>
</p>

<p>
  <b>Subdomain:</b>
  <%= @account.subdomain %>
</p>

<p>
  <b>Owner email:</b>
  <%= @account.owner_email %>
</p>